

body{
    margin: 0 0;
}

.container{
   
    margin: 0;
     
}


.header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #111; 
}

.nav-left{
    display: flex;
    align-items: center;
    
}



.nav-left > a{
    font-style: italic;
    color: rgb(0, 140, 255);

    margin: 0px 25px;

}

.hot-new{ 
    display: flex;
}

.hinhnen{
    width: 100%;
    height: auto;
}

.BG-container{
    width: 100%;
    background-image:"C:\xampp\htdocs\MyWeb\Asset\hinhnen.png";
}